body {
    font-family: "Helvetica Neue", 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
    .container h1{
        margin-top: 0;
    }
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
}


@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}


@font-face {
    font-family: 'HelveticaNeueCyr-UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaNeueCyr-UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
}

.btn.btn-lg, .btn.btn-success, #cancel-upload-image {
    font-size: 18px;
}

.navbar .col-md-5 {
    padding: 10px 0;
}

.navbar .logo {
    padding-top: 10px;
    text-align: center;
}

.navbar-nav li {
    padding: 10px 25px;
}
.navbar-nav li:first-child {
    padding-left: 0;
}

.navbar-nav li:last-child {
    padding-right: 15px;
}

.navbar-nav li a {
    border-bottom: 1px dashed #000;
    color: #000;
    padding: 0;
    line-height: 15px;
    display: inline-block;
}

.navbar-nav li a:hover {
    border-bottom: none;
    background: none;
}

.login-icon {
    background: url("../img/login.png") no-repeat;
    width: 14px;
    height: 15px;
    position: relative;
    display: inline-block;
    top: 3px;
    margin-right: 5px;
}

.navbar-nav.main-nav a.dropdown-toggle {
    border-bottom: none;
    width: 25px;
    height: 17px;
    background: url("../img/menu.png") no-repeat;
    margin-left: 20px;
    padding-right: 25px;
}
.navbar-nav.main-nav li a.dropdown-toggle:hover {
    background: url("../img/menu.png") no-repeat;
}

.navbar-nav.main-nav li.dropdown.open {
    background: #22282a;
}
.navbar-nav.main-nav li.dropdown.open a.dropdown-toggle {
    background: url("../img/menu-act.png") no-repeat;
    border: none;
}

.navbar-nav .dropdown-menu {
    background: #22282a;
    border: none;
    padding-top: 15px;
}

.navbar-nav .dropdown-menu .divider {
    padding: 0;
    background-color: #3a4144;
    margin: 0 25px;
}

.navbar-nav .dropdown-menu li {
    padding: 0;
}

.navbar-nav .dropdown-menu li a {
    border: none;
    color: #aaaaaa;
    display: inline-block;
    padding: 10px 25px;
    border-left: 2px solid #22282a;
}

.navbar-nav .dropdown-menu li .count {
    background: #414c4f;
    color: #e2e2e2;
    padding: 3px 7px;
    border-radius: 10px;
}

.navbar-nav .dropdown-menu li a:hover {
    color: #74bd00;
    text-decoration: underline;
    border-left: 2px solid #74bd00;
}

.navbar-nav.user-nav a.dropdown-toggle:focus {
    background: none;
}

.navbar-nav.user-nav .dropdown-menu {
    background: #74bd00;
}

.navbar-nav.user-nav .dropdown-menu li a {
    color: #fff;
    border-left: 2px solid #74bd00;
}

.navbar-nav.user-nav .dropdown-menu li a:hover {
    color: #fff;
    text-decoration: underline;
    border-left: 2px solid #fff;
}

.navbar-nav.user-nav .dropdown-menu .divider {
    background-color: #fff;
}

.about-banner {
    padding: 40px 0;
    color: #3a4244;
}

.about-banner span, h1 span, h2 span, h3 span {
    color: #74bd00;
}

.about-banner h1 {
    font-size: 38px;
    padding-left: 2px;
}

.about-banner-text .divider {
    display: block;
    width: 65px;
    border-bottom: 3px solid #3a4244;
    padding-top: 25px;
    margin-left: 2px;
}

.about-banner-count {
    margin-top: 20px;
    font-size: 16px;
    text-align: right;
}

.about-banner-count strong {
    font-size: 100px;
    line-height: 0.8;
}

a.create-best-project {
    border-bottom: 1px dashed #000;
    color: #000;
    padding: 0;
    line-height: 15px;
    float: right;
}

a.create-best-project:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none;
}

#owl-best-projects {
    padding: 20px 0;
    width: 940px;
}

#owl-best-projects .item {
    /*width: 188px;*/
    /*float: left;*/
    color: #000;
    /*height: 210px;*/
    /*overflow: hidden;*/
    /*padding: 8px;*/
    margin: 5px;
    /*white-space: pre-wrap; *//* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#owl-best-projects .item .post-img {
    min-height: 103px;
    height: 103px;
}

#owl-best-projects .item a {
    color: #000;
}

#owl-best-projects .item h4 {
    font-size: 17px;
    font-weight: bold;
}

#owl-best-projects.border {
    border-bottom: 1px solid #f3f3f3;
}

.carousel-btn {
    display: inline;
    position: absolute;
    margin-top: 60px;
    z-index: 9;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

#carousel-prev {
    background: url("../img/prev.png") no-repeat;
    display: none;

}
#carousel-next {
    margin-left: 865px;
    background: url("../img/next.png") no-repeat;
    display: none;
}

.btn-success {
    background-color: #74bd00;
    border-color: #68aa00;
}

.btn-success:hover {
    background-color: #5c9600;
}
.btn-success:active {
    background-color: #528600;
}
.btn-success:focus {
    background-color: #5f9a00;
}

.btn-primary {
    background-color: #373e49;
    border-color: #373e49;
}

.btn-primary:hover {
    background-color: #51565f;
}
.btn-primary:active {
    background-color: #373e49;
}
.btn-primary:focus {
    background-color: #373e49;
}

.btn-primary:active:hover {
    background-color: #51565f;
}

.btn-primary:active:focus {
    background-color: #51565f;
}

.btn-warning {
    background-color: #fba603;
    border-color: #e19503;
}

.btn {
    border-radius: 2px;
}

.ex-block {
    background: url("../img/ex-dg.png") repeat-x;
    height: 380px;
    margin: 40px 0;
    text-align: center;
    color: #fff;

}

.ex-block h2 {
    font-size: 36px;
    padding: 70px 0 50px;
}

.ex-block .item {
    width: 188px;
    float: left;
}

.ex-block .img {
    height: 70px;
}

.ex-block .descr {

}

.main-text {
    padding: 30px 0;
    text-align: justify;
}

.main-text h1 {
    text-align: center;
    font-size: 36px;
}

.main-text h2, .main-text h3 {
    text-align: center;
}

.main-text.competition h1 {
    text-align: left;
    font-size: 36px;
}



.competition-blocks .block {
    width: 235px;
    height: 235px;
    overflow: hidden;
    float: left;
    padding: 20px;
    text-align: left;
}

.competition-blocks .block .center {
    text-align:center;
}

.competition-blocks .block .block-content {
    max-width: 195px;
    overflow: hidden;
}

.competition-blocks .block .block-content p {
    line-height: 38px;
}

.competition-blocks .block .block-content-header {
    color: #666;
    padding-top: 50px;
}

.competition-blocks .block a.block-btn {
    padding: 5px;
    color: #373e49;
    text-align: center;
    display: block;
    width: 180px;
    border: 1px solid #373e49;
    text-decoration: none;
    cursor: pointer;
}

.competition-blocks .block a.block-btn.white {
    color: #fff;

    border: 1px solid #fff;
}

.competition-blocks .block a.block-link {

    color: #74bd00;
    text-decoration: none;
    font-size: 14px;
}

.competition-blocks .block a.block-link.white {

    color: #fff;
}

.competition-blocks .block a.block-link:hover {
    text-decoration: none;
}

.competition-blocks .block#block-3 {
    background-color: #74bd00;
}
.competition-blocks .block#block-4, .competition-blocks .block#block-6 {
    background-color: #ecf1f2;
}
.competition-blocks .block#block-7 {
    background-color: #ff7800;
}

.competition-blocks .block#block-7 a {
    color: #fff;
}

.competition-blocks .block#block-7 .modal-body a {
    color: #74bd00;
}

.competition-blocks .block#block-8 {
    background-color: #373e49;
}

.competition-blocks .block#block-1 {
    padding-top: 80px;
    text-align: center;

}

.competition-blocks .block#block-1 h2 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
}
.competition-blocks .block#block-1 h3 {
    color: #fff;
    font-weight: normal;
    margin: 0;
    font-size: 30px;
    text-shadow: 0 0 2px #000;
}
.competition-blocks .block#block-2 .block-content {
    color: #373e49;
    font-size: 23px;
}

.competition-blocks .block#block-3 .block-content {
    color: #000;
    font-size: 23px;
}

.competition-blocks .block#block-3 .block-content-header {
    color: #fff;
    padding-top: 80px;
}

.competition-blocks .prize-block .block-content {
    color: #000;
    font-size: 23px;
}

.competition-blocks .prize-block .block-content-header {
    color: #fff;
    padding-top: 80px;
}

.competition-blocks .block-country-name {
    color: #373e49;
    font-size: 23px;
    text-align: left;
    height: 35px;
}

.members-list {
    border-top: 1px solid #f3f3f3;
    /*margin: 0 100px;*/
}

.members-list.final {
    margin: 0 220px;
}

.members-list .item {
    padding: 15px 10px;
    border-bottom: 1px solid #f3f3f3;
}
.members-list .item.item-big {
    padding: 20px;
}
.members-list .item .member-detail {
    padding: 3px 15px;
}
.members-list .item .member-detail a {
    color: #74bd00;
    text-decoration: underline;
}
.members-list .item .member-detail .country {
    position: relative;
    display: inline-block;
    top: -2px;
}

.members-list .item .member-detail span.delimiter {
    color: #cfcfcf;
    padding: 0 3px;
}

.members-list .item .item-position {
    width: 170px;
    float: left;
    color: #000;
    font-size: 32px;
}

.members-list .item .item-position strong {
    font-size: 42px;
}

.members-list .item-big .member-block {
    float: left;
    padding-top: 8px;
    max-width: 340px;
}

.members-list .item-big .member-block .member-detail {
    padding: 3px 0;
}

.members-list .item-big .options {
    float: right;
    padding-top: 5px;
}
.members-list .item-big .options .winner-btn {
     padding: 5px;
     color: #74bd00;
     text-align: center;
     display: block;
     border: 1px solid #74bd00;
     text-decoration: none;
 }

.members-list .item-big .options .winner-btn.green {
    color: #fff;
    background: #74bd00;
}

.members__title{
    font-weight: 600;
    color: #4dbbde;
    font-size: 18pt;
}
.members__competition-title{
    font-weight: 800;
    font-size: 27pt;
    word-wrap: break-word;
}

.main-text form {
    padding: 0 70px;
}

.main-text .form-group input {
    padding: 10px 30px;
    height: 45px;
}

.main-text .form-group select {
    height: 45px;
    padding-top: 5px;
}

.main-text .form-group input[type=checkbox] {
    height: 13px;
}

.main-text .form-group textarea {
    padding: 25px 30px;
}
.form-group.field-competition-photo_file_id{
    margin: 0;
    height: 0;
}

.footer-copy {
    /*padding-left: 0;*/
}

.footer-links {
    text-align: right;
    /*padding-right: 0;*/
}

.footer-links a {
    padding-left: 20px;
}

.breadcrumb {
    background: none;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb > li + li:before {
    content: "-";
}

.video-info {
    background: #fff2dd;
    padding: 20px 30px 10px;
    border-bottom: 1px solid #f8d5a0;
    color: #000;
}

.video-info-bg {
    background: url("../img/video-info-bg.png") no-repeat;
    margin-bottom: 15px;
    height: 8px;
}

.video-info .ocam-icon {
    background: url("../img/ocam.png") no-repeat;
    width: 23px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.video-info a, .about-competition-text a {
    color: #74bd00;
    text-decoration: none;
    border-bottom: 1px dashed #74bd00;
    position:relative;
}

#video-frame {
    padding: 0 0 10px;
}

.dz-message strong {
    display: block;
}

#image-upload {
    border: 2px dashed #74bd00;
}

#image-crop {
    border: 2px dashed #74bd00;
    padding: 20px;
    text-align: center;

}
#image-crop img{
    max-width: 100%;
    max-height: 1000px;
}
#image-crop-layer, #image-after-crop {
    display: none;
}

#competition-date {
    padding: 6px 12px;
}

.sponsor label span {
    font-style: italic;
    color: #777777;
    font-size: 14px;
}

.add-form-item {
    padding: 3px 0 15px;
    color: #74bd00;
}

.add-form-item a {
    color: #74bd00;
    text-decoration: none;
    border-bottom: 1px dashed #74bd00;
}

.add-form-item a:hover {
    text-decoration: none;
    border-bottom: none;
}

#form-create label {
    font-size: 16px;
}

#prize-layer .prize {
    padding: 10px 30px;
    background: #dce5ec;
    border-bottom: 1px solid #c3c8cd;
    margin-bottom: 5px;
}

#prize-layer .prize label {
    font-size: 14px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

    background-color: #fff;
    color: #999999;
    font-size: 12px;

}

#footer .container {
    border-top: 1px solid #f3f3f3;
    padding: 20px 0;
}

.ya-share2__badge {
    background: none !important;
    color: #666 !important;
}

.ya-share2__item.ya-share2__item_service_vkontakte {

}
.ya-share2__item.ya-share2__item_service_vkontakte .ya-share2__icon {
    background: url("/img/i-vk.png") center center no-repeat !important;
}

.ya-share2__item.ya-share2__item_service_facebook {

}
.ya-share2__item.ya-share2__item_service_facebook .ya-share2__icon {
    background: url("/img/i-fb.png") center center no-repeat !important;
}

.ya-share2__item.ya-share2__item_service_odnoklassniki {

}
.ya-share2__item.ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url("/img/i-ok.png") center center no-repeat !important;
}

.ya-share2__item.ya-share2__item_service_twitter {

}
.ya-share2__item.ya-share2__item_service_twitter .ya-share2__icon {
    background: url("/img/i-tw.png") center center no-repeat !important;
}

.ya-share2__list .ya-share2__item:after {
    content: "|";
    color: #c4c4c4;
    padding: 0 10px;
    margin-top: 4px;
    line-height: 24px;
}

.ya-share2__list .ya-share2__item:last-child::after {
    content: "";
    color: #fff;
}

.competition-table thead th {
    font-weight: normal;
    font-style: italic;
    color: #999999;
    text-align: center;
}

.competition-table tbody tr td {
    color: #777777;
    text-align: center;
}

.competition-table tbody tr td:first-child {
    text-align: left;
}

.competition-table tbody tr.open td {
    color: #000;
    font-weight: bold;
}

.competition-table tbody tr.open td.status {
    color: #68a900;
}

.competition-table tbody tr {
    cursor: pointer;
}

.prize-modal {
    width: 740px;
}

#delete-crop-image {
    background: #000;
    color: #fff;
    opacity: 0.8;
    width: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.sponsor .col-md-1 {
    padding-top: 62px;
}

.condition .col-md-1 {
    padding-top: 5px;
}

#sponsor-nav {
    padding-top: 50px;
    text-align: left;
}
#sponsor-nav a:first-child {
    margin-right: 15px;
}

a.btn-remove {
    color: red;
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

#image-upload-error {
    color: red;
}

.advSidebar .addAdvert a {
    display: block;
    background: #33b0d9;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 0;
    font-weight: bold;
}

.advSidebar > div {
    margin-bottom: 26px;
}

.advSidebar .item img {
    width: 100%;
}

.advSidebar .item a {
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
}

.advSidebar .item a h4 {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding-top: 10px;      
    
}

.advSidebar .item a p {
    font-size: 15px;
    margin: 0;
    padding-top: 5px;  
}
/*****************************************************************/
.concurs-date{
    float: left;
    margin-top: 20px;
}
.concurs-date-count{
    background: #32b0d9;
    color:white;
    padding: 8px;
    min-width: 70px;
    text-align: center;
    float: left;
    margin: 13px 0 0 15px
}
.concurs-date-count-minus{
    background: #32b0d9;
    color:white;
    padding: 8px 0;
    width: 170px;
    text-align: center;
    float: left;
    margin: 13px 0 0 15px
}
.concurs-edit{
    float: right;
    margin-top: 5px;
}

.concurs-priz-header, .concurs-org-header, .concurs-sponsor-header, .concurs-usl-header, .concurs-video-header{
    font-size:18px;
    color:black!important;
    padding-top: 0px;
    font-weight: bold;
    margin-bottom: 13px;
}
.concurs-org-header{
    margin-bottom: 13px;
}
.concurs-priz-price,.concurs-org-name, .concurs-sponsor-name{
    color:#33b0d9;
    font-size: 28px;
    font-weight: bold
}
.concurs-priz-val{
    color:#33b0d9;
    font-size: 18px;
}
.concurs-priz-val sup{
    top: -0.7em;
    left: 2px;
    text-transform: uppercase
}
.concurs-priz-plac{
    color:#999999;
    font-size: 14px;
}
.concurs-org-url,.concurs-sponsor-url{
    color: #5d960e;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}
.concurs-org-url:hover,.concurs-sponsor-url:hover{
    text-decoration: underline;
    color: #5d960e;
    cursor: pointer;
}
.concurs-org-name{
    height: 35px;
}
.concurs-sponsor-box{
    float: left;
    width: 200px;
    margin-top:15px;
}
.competition-blocks .block#block-1 {
    margin: auto;
    width: 100%;
}
.concurs-tabs{
    margin-top: 35px;
}
.concurs-tabs .nav-tabs>li.active>a, .concurs-tabs .nav-tabs>li.active>a:focus, .concurs-tabs .nav-tabs>li.active>a:hover {
    color: white!important;
    cursor: default;
    background-color: #33b0d9!important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tab-content{
    border: 1px solid #ddd;
    padding: 0 15px 15px 15px;
}
.concurs-tabs .nav-tabs {
     border-bottom: none;
}
.concurs-video-header{
    margin-top:30px;
}
#block-1{
    height: 300px;
    position: relative;
}
.concurs-edit a{

    text-decoration: none;
    padding:12px 20px;
    float:right
}
.concurs-edit a:hover{
    background: #d2d2d2!important;
}
.adver-right:hover{
    background: #3191ba!important;
}
.adver-a:hover{
    text-decoration: none;
}
.adver-right{
    color:white;
    font-size: 15px;
    background:#32b0d9;
    text-align: center;
    padding: 10px 0;
}
.concurs-layouts{

}
#block-6{
    padding: 10px;
    width: 100%;
    height: 50px;
}
#block-6 .block-btn{
    background: #33b0d9;
    color:white;
    border:none;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}
#block-6 .block-btn:hover{
    background: #3191ba;
}
#block-6 .center a{
    float: left;
    padding: 10px 20px 0 20px;
}
#block-6 .block-content{
    float: left;
    width: 40px;
    height: 40px;
    border:1px solid #eeeeee;
    margin-left: 10px;
    text-align: center;
}

#block-6 .block-content p{
    font-size: 16px;
    line-height: 38px;
    color:black;
}
.concurs-winner{

}
.concurs-winner a{
    font-size: 14px;
    background: #00c733;
    color:white;
    padding:12px 15px;
}
.concurs-date-bg{
    position: relative;
}
.concurs-date-romb{
    position: absolute;
    height: 8px;
    width: 8px;
    background: #33b0d9;
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top:27px;
    left:164px;
}
.concurs-count-romb{
    position: absolute;
    height: 8px;
    width: 8px;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99999;
    top:26px;
    left:302px;
}

.concurs-winner a:hover{
    text-decoration: none;
    background: #00ab31;
    color:white;
}
.concurs-uchastie{
    position: absolute;
    z-index: 9999;
    top:141px;
    left:435px;
}
.concurs-button{
    font-size: 14px;
    background: #00c733;
    border:none;
    color: white;
    padding: 8px;
}
.concurs-button:hover{
    background: #74bd00;
}
.winner-cup{
    height: 220px;
}
.winner-header{
    height: 220px;
    text-align: center;
}
.winner-p1{
    font-size: 28px;
    color:black;
    font-weight: bold;
    margin-bottom: 60px;
    word-wrap: break-word;
}
.winner-p2{
    font-size: 24px;
    color:#33b0d9;
    font-weight: bold;
}
.winner-p2:before, .winner-p2:after{
    content: '';
    border: 1px solid rgba(51, 176, 217, 0.15);
    display: block;
    margin: 15px 0;
}
.winner .members-list{
    width: 100%;
    overflow: hidden;
    margin: 0px;
}
.winner .item-position{
    font-size: 24px!important;
    color: #44b6dc!important;
    font-weight:bold;
    margin-left:25px;
}
.winner .item-position strong{
    font-size: 24px!important;
}
.winner-btn-1{
    width: 150px;
}
.winner-btn-2{
    width: 400px;
}
.winner-msg{
    width: 100%;
    height:100px;
    background: red;
}
#block-2{
    margin-top: 20px;
}
.uchastie-ok{
    font-size: 14px!important;
    background: #76cb00;
}
.uchastie .modal-content{
    text-align: center;
}
.video-final{
    text-align: center;
    margin: 30px 0;
}
.btn-addvideo{
    width: 100%;
    background: #32b0d9;
    color: #fff;
}
.btn-addvideo:hover{
    background: #3191ba!important;
    color: #fff;
}


#block-0{
    overflow: hidden;
}
.uchastie{
    float: right;
    margin-top: 10px;
}
.concurs-count{
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
}
.concurs-countu-romb{
    position: absolute;
    top:14px;
    left:-4px;
    height: 8px;
    width: 8px;
    background: white;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 999;
}
.concurs-count-user{
    width: 50px;
    height: 38px;
    border:1px solid #eeeeee;
    text-align: center;
    padding-top: 9px;
}
#block-1{
    position: relative;
}
.qweqwe .owl-item{
    float: none!important;
    width: 100%!important;
}
.qweqwe .owl-wrapper{
    width: 100%!important;
}
.qweqwe .owl-item img{
    width: 100%!important;
}
.qweqwe .owl-item .item{
    margin: 0!important;
    margin-top: 20px!important;
}
.qweqwe h4{
    margin-top: 35px!important;
}

/*******************index********************/
.box-1, .box-2, .box-3, .box-4, .box-5{
    width: auto;
}
.box-1{
    background-color: white!important;
}
.box-2{
    background-color: #f7f7f7!important;
}
.box-3{
    background-color: #33b0d9!important;
}
.box-4{
    background-color: white!important;
}
.box-5{
    background-color: #f7f7f7!important;
}
.index-free-concurs{
    padding: 30px 15px;
}
.index-free-concurs-text{
    font-size: 32px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}
.index-free-concurs-a{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 15px!important;
    border: none!important;
    padding: 12px 25px;
}
.best-projects .owl-item{
    width: 216px!important;
    margin-right: 20px;
}
#owl-best-projects{
    margin: 0px;
}
.best-projects #owl-best-projects{
    padding: 40px 0;
}
.best-projects #owl-best-projects .item{
    margin: 0;
}
.best-projects #owl-best-projects .item h4{
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
.best-projects #owl-best-projects .item .post-img {
    overflow: hidden!important;
    width: 100%;
}
.best-projects #owl-best-projects .item .post-img img{
    width: 100%;
}
a.create-best-project {
    color: white;
    font-size: 15px;
    background: #32b0d9;
    text-align: center;
    padding: 10px 55px;
    float: right;
    border: none;
    margin: 50px 0 10px 0;
    line-height: 20px;
}
a.create-best-project:hover{
    border: none;
    background:#3191ba;
}
.box-5 h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 36px;
}
.box-5 p, .box-5 ul li{
    color: #57657c;
    font-size: 16px;
    line-height: 25px;
}
.box-5 ul li{
    margin-bottom: 7px;
}
.index-text-left, .index-text-right{
    padding: 10px 30px 50px 30px;
}
.index-text-right h1{
    margin-left: 20px;
}
.top-concurs{
    text-align: center;
    padding-bottom: 70px;
}
.top-concurs h1{
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 36px;
}
.tab-view .nav-tabs>li>a {
    font-size: 14px;
    color: black!important;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.top-concurs .nav-tabs>li.active>a, .top-concurs .nav-tabs>li.active>a:focus, .top-concurs .nav-tabs>li.active>a:hover{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background:none;
    border:none;
    text-transform: uppercase;
    opacity: 1;
    letter-spacing: 1px;
    border-bottom: 1px solid #7adefe!important;
    display: inline!important;
    padding: 0 0 3px 0!important;

}


.top-concurs .tab-content, .top-concurs .nav-tabs{
    border: none;
}

.top-concurs .nav-tabs>li a:hover{
    border:none!important;
}
.top-concurs .nav>li>a:hover,.top-concurs .nav>li>a:focus{
    background: none!important;

}
.top-concurs .nav>li>a,.top-concurs .nav>li>a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background:none;
    border:none;
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 1px;
    padding: 0!important;
}
.colll{
    color:#33b0d9;
}
.index-all-concurs{
    font-size: 16px;
    color: #33b0d9;
    background: #ffffff;
    padding: 15px 60px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.index-all-concurs:hover,.index-all-concurs:active, .index-all-concurs:focus{
    color: #33b0d9;
    background: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
}
.active .index-concurs{
    float: left;
    width: 216px;
    margin-right: 20px;
    word-wrap: break-word;
}
.active .index-concurs:nth-child(4){
    margin-right: 0px!important;
}
.index-concurs a:hover{
    text-decoration: none;
}
.top-concurs .tab-content{
    margin-top: 40px;
}
.index-concurs .img{
    width: 100%;
    overflow: hidden;
    background: #27a6d0;
    position: relative;
}
.index-concurs .text{
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.ostal{
    font-size: 11px;
    background: #2395bb;
    width: 100px;
    padding: 3px 5px;
    border-radius: 5px;
    color: #ffffff;
    position: absolute;
    top:10px;
    left:10px;
}
.count-user{
    text-align: left;
    margin-left: -5px;
    color:white;
    font-size: 11px;
}

.breadcrumb {
    padding: 15px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 4px;
}
.section-bread{
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: auto;
    margin-bottom: 30px;
}
.click-now{
    color: #74bd00;
}
.click-now:hover{
    color: #74bd00;
    text-decoration: underline;
}
.btn-success,.btn-success:focus, .btn-success:active, .btn-success:hover, .btn-success:visited{
    border:none;
}
.show__more:active, .show__more:focus, .show__more:visited{
    border:none;
}
.show__more{
    background: #f5f5f5;
    font-size: 12px;
    color:#939393;
    border:none;
    width: 100%;
    padding: 12px 0;
    outline: 0;
    margin-bottom: 30px;
}
.show__more:hover{
    background: #e8e8e8;
}
.btn-success, .btn-success:focus, .btn-success:active, .btn-success:hover, .btn-success:visited{
    outline: 0!important;
}
.table_td_f_my{
    width:340px!important;
    display: block;
    word-wrap: break-word;
    font-size: 13px;
    border-top: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color: #32b0d9!important;
    border-color: #32b0d9!important;
}
/*********************выпадающее меню*******************************/
#menu__popup{
    width: 100%;
    opacity: 0;
}
.menu__fixed{
    z-index: 999;
    position: fixed;
    left: 0px;
    top:0px;
}
.menu__conteiner{
    padding-top: 25px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}
.count-uch{
    text-align: right;
    padding: 70px 75px 0 0;
}
.menu__left, .menu__right{
    float: left;
}
.menu__left{
    min-width: 500px;
    width: 680px;
}
@media (min-width: 1200px) {
    .menu__conteiner {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .menu__conteiner {
        width: 970px;
    }
}
.competition-list .nav{
   background: #f7f7f7;
}
.competition-list .nav li{
    margin: 20px;
}
.competition-list .nav a{
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: bold;
    border: none!important;
    background: none!important;
    padding: 0!important;
    display: initial!important;
}
.competition-list .nav-tabs{
    border-bottom: none!important;
}

.competition-list .active, .competition-list .nav a:hover, .competition-list .nav a:active,.competition-list .nav a:visited, .competition-list .nav a:focus{
    border:none!important;
}
.competition-list .nav a:hover, .competition-list .nav a:active, .competition-list .nav a:focus{
    border:none!important;
    color:#33b0d9!important;
    border-bottom: 1px solid #33b0d9!important;
}
.competition-list .tab-content{
    padding: 15px 0 15px 15px!important;
    border: none!important;
}
.competition-tr{
    overflow: hidden;
}
.competition-tr div{
    float: left;
    min-height: 50px;
    margin: 10px 0px;
    font-size: 14px;
    color:#000000;
    line-height: 46px;
}
.competition-tr div .more{
    color:#69b401!important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px 23px;
}
.competition-tr div .more:hover{
    color:white!important;
    background: #69b401;
    cursor: pointer;
    text-decoration: none;
}
.competition-tr div .link{
    color: black;
}
.competition-tr div span{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    line-height: normal;
}
.competition-tr div .link:hover{
    color: #33b0d9!important;
}
.competition-tr:nth-child(even) {
    background: #f6f6f6!important;
}
.competition-tr:nth-child(odd) {
    background: white!important;
}



